  <div class="row">
    <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Taches en cours <a [routerLink]="['new']"><i class="fa fa-plus-circle pull-right white"></i></a> </div>
      <div class="panel-body">
        <br/>
        <div class="btn-group" role="group" aria-label="Filter Group">
          <button type="button" id="filter-me" (click)="filter('assignee=me')" class="btn btn-default">My Tasks</button>
          <button type="button" id="filter-due-today" (click)="filter('due<=today')" class="btn btn-default">Due</button>
          <button type="button" id="filter-due-7d" (click)="filter('due<=7d')" class="btn btn-default">7 jours</button>
        </div>
        <br/><br/>
        <div class="input-group">
          <span class="input-group-addon" id="filterQuery-add"><i class="fa fa-filter" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Query" aria-describedby="filterQuery-add" [(ngModel)]="filterQuery">
        </div>
        

        <!-- Generated markup by the plugin -->
        <div class="tooltip top" role="tooltip">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner">
            Some tooltip text!
          </div>
        </div>
        <hr/>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>Titre</th>
            <th><a (click)="sortBy('priority')">Priority</a></th>
            <th><a (click)="sortBy('deadline')">Deadline</a></th>
          </tr>
          <tr *ngIf="errorOccurs()">
            <td>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td>Data cannot be loaded...</td>
            <td>Something bad happens when retrieving the data. Please contact god and pray.</td>
          </tr>
          <tr *ngIf="isLoading()">
            <td>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span></td>
            <td>Loading in progress</td>
            <td>Really, if you can read this, this means that the server is quite slow today</td>
          </tr>
          <tr *ngFor="let task of tasks | filter:filterQuery">
            <td><a [routerLink]="[task.id]">{{ task.title }}</a></td>
            <td>{{ task.priority }}</td>
            <td>{{ task.deadline | date:'dd/MM/yyyy' }} &nbsp;&nbsp;<span [class]="task.deadlineStatusStyle()">{{task.deadlineDaysLeftText()}}</span>              </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Fin des running -->
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>